@import 'variables';

nav {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    height: $navHeight;
    width: 100%;
    margin-top: 30px;
    ul li a {
        color: white;
        font-weight: 700;
    }
    .left-ul{
        display: flex;
        justify-content: flex-start;
        list-style: none;
        padding: 0px;
        margin: 0px;
        width: calc(50% - #{$imgWidth / 2});
        li{
            padding: 4%;
        }
    }

    img {
        width: $imgWidth;
        height: $imgWidth;
        transform: translateY(#{($navHeight - $imgWidth)/2});
    }

    
    .right-ul{
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 0px;
        margin: 0px;
        width: calc(50% - #{$imgWidth / 2});
        li{
            padding: 4%;
        }
    }
}